@import "tailwindcss";

@import "tailwindcss";

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #fafafa; /* zinc-50 */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
